@import 'tailwindcss';


:root {
    --foreground: #FDF7E4;
}

@theme inline {
    --font-satoshiRegular: var(--font-satoshi-regular);
    --font-satoshiBold: var(--font-satoshi-bold);
    --font-bellefair: var(--font-bellefair);
    --font-promenadeItalic: var(--font-promenade-italic);
    --color-bone: var(--foreground);

}


h1 {
    @apply text-7xl font-satoshiBold
}

@layer utilities {
    @keyframes marqueeLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    @keyframes marqueeRight {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }

    @keyframes logoFirst {
        0% {
            transform: translateX(0) translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateX(1.5rem) translateY(1.5rem);
            opacity: 0;
        }
    }

    .animate-marquee-left {
        animation: marqueeLeft 10s linear infinite;
    }

    .animate-marquee-right {
        animation: marqueeRight 10s linear infinite;
    }

    .animate-logo-first {
        animation: logoFirst 3s ease-out infinite;
    }
}

.container {
    @apply px-10 py-32;
    max-width: 1360px;

}