@import 'tailwindcss';


:root {
    --bone: #faeddc;
    --beige: #F3E9DC;
    --orange: #D96F32;
    --lightOrange: #F0C6A9;
    --brown: #443627;
}

@theme inline {
    --font-satoshiRegular: var(--font-satoshi-regular);
    --font-satoshiBold: var(--font-satoshi-bold);
    --font-bellefair: var(--font-bellefair);
    --font-promenadeItalic: var(--font-promenade-italic);
    
    --color-bone: var(--bone);
    --color-beige: var(--beige);
    --color-orange: var(--orange);
    --color-lightOrange: var(--lightOrange);
    --color-brown: var(--brown)
}


h1 {
    @apply text-5xl md:text-7xl font-satoshiBold
}

h2{ 
    @apply text-3xl md:text-5xl
}

h1, h2, h3, h4, h5, h6 {
    em {
        @apply font-promenadeItalic block
    }

    strong {
        @apply font-satoshiBold
    }
}

a {
    @apply hover:text-orange duration-200
}

.blurryItem {
    filter: blur(4px);
}

@layer utilities {
    @keyframes marqueeLeft {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    @keyframes marqueeRight {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }

    @keyframes logoFirst {
        0% {
            transform: translateX(0) translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateX(1.5rem) translateY(1.5rem);
            opacity: 0;
        }
    }

    .animate-marquee-left {
        animation: marqueeLeft 10s linear infinite;
    }

    .animate-marquee-right {
        animation: marqueeRight 10s linear infinite;
    }

    .animate-logo-first {
        animation: logoFirst 3s ease-out infinite;
    }

    .embla {
        overflow-x: hidden;
        margin: auto;
    }

    .embla__container {
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(2rem * -1);
        margin-right: calc(2rem * -1);

    }

    .embla__container_references {
        display: flex;
        gap: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .embla__slide {
        flex: 0 0 100%;
        min-width: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .embla__dot:after {
        box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        content: '';
    }

    .embla__dot--selected:after {
        box-shadow: inset 0 0 0 0.2rem var(--text-body);
    }
}

.container {
    @apply px-10 py-32;
    max-width: 1360px;

}


#imageModal {
    animation-name: galleryModal;
    animation-duration: 0.3s;
}

@keyframes galleryModal {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}


/* MOBILE MENU */
#mobileMenuModal.open {
    animation-name: mobileMenuAnimationOpen;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    display: flex;
}

#mobileMenuModal.close {
    animation-name: mobileMenuAnimationClose;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

#mobileMenuModal.hide{
    display: none;
}

@keyframes mobileMenuAnimationOpen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes mobileMenuAnimationClose {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

